
/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

/* Definição de variáveis de cores e fontes */
:root{
    --mix-de-cores: linear-gradient(135deg, #008BF5, #3eafc0, #003EF5);
    --cor-primaria: white;
    --cor-secundaria: black;
    --fonte-principal: 'Inter';
    --fonte-secundaria: 'Nunito', sans-serif;
    --fonte-terciaria: 'Orbitron';
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Comportamento de rolagem suave na página */
html{
    scroll-behavior: smooth;
}

/* Definição do corpo da página (fundo gradiente) */
body{
    background: var(--mix-de-cores);
}

/* Estilo do cabeçalho */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 10vh;
    margin: 1.5rem;
    margin-left: auto;
    flex-direction: row;
    width: 100%;
}

/* Logo ocupa 40% da largura no cabeçalho */
.logo{
    width: 40%;
}

/* Estilo do menu de navegação */
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 2vw; 
}

/* Estilo dos links de navegação */
nav ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 1vw;
    font-family: var(--fonte-terciaria);
    font-weight: normal;
    font-size: 1.2rem;
    transition: font-weight 0.3s;
}

nav ul li a:hover{
    font-weight: bold;
} 

/* Estilo da seção de contato */
.contato{
    max-width: 50rem;
    margin: 4vw auto;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #3eafc0;
    border-radius: 8px
}

/* Estilo do título da seção de contato */
.contato h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-terciaria);
    margin-bottom: 1.7rem;
}

/* Estilo do parágrafo na seção de contato */
.contato p {
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-bottom: 2rem;
}

/* Estilo dos campos de entrada */
.campo {
    margin-bottom: 1.6rem;
}

.campo label {
    display: flex;
    font-size: 1.1rem;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-bottom: 0.5rem;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--fonte-principal);
}

.campo textarea {
    resize: vertical;
}

/* Estilo do botão de envio */
.botao-enviar{
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: var(--fonte-principal);
    transition: all 0.3s ease-in-out;
}

.botao-enviar:hover{
    background-color: #555;
}

/* Estilo do rodapé */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    background-color: black;
    opacity: 0.9;
    padding: 4vw;
    text-align: center;
    border-top: 0.4vw solid white;
}

/* Ajustando a largura da imagem do rodapé */
.footer img{
    width: 20%;
}

/* Estilo do texto no rodapé */
.footer-textos p{
    font-family: var(--fonte-secundaria);
    color: white;
    font-size: 1rem; 
    text-decoration: underline;
    margin: 2vw;
}